{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends ea.templatePath('layout') %}
{% trans_default_domain ea.i18n.translationDomain %}

{% block body_class 'page-content' %}

{% block content_title %}
    {{ 'Menu.Dashboard' | trans({}, 'messages') }}
{% endblock %}

{% block main %}
    <section id="dashboard">
        <section class="row">
            <article class="col-8">
                <section class="row">
                    {{ _self.render_count_widget('Users', 'col-3', 'uil-users-alt', 'success', count_users) }}
                    {{ _self.render_count_widget('Customers', 'col-3', 'uil-raddit-alien-alt', 'info', count_customers) }}
                    {{ _self.render_count_widget('Stores', 'col-3', 'uil-store', 'info', count_stores) }}
                    {{ _self.render_count_widget('AdvancesPayments', 'col-3', 'uil-bill', 'primary', count_advances_payments) }}
                    <article class="col-9">
                        <div id="support-box" class="card cta-box bg-danger text-white">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="w-100 overflow-hidden">
                                        <h3 class="mt-0">
                                            <i class="mdi mdi-bullhorn-outline me-1"></i>
                                            {{ 'Widgets.Support.Title' | trans({}, 'messages') }}
                                        </h3>
                                        <h3 class="m-0 fw-normal cta-box-title">
                                            {{ 'Widgets.Support.Message' | trans({}, 'messages') | raw }}
                                        </h3>
                                    </div>
                                    <img class="ms-3" src="{{ asset('build/images/svg/email-campaign.svg') }}" width="120" alt="Generic placeholder image">
                                </div>
                            </div>
                        </div>
                    </article>
                    {{ _self.render_count_widget('Invoices', 'col-3', 'uil-receipt', 'primary', count_invoices) }}
                </section>
            </article>
            <article class="col-4">
                <article id="birthday-box" class="card cta-box bg-success text-white">
                    <article class="card-body">
                        <header class="d-flex align-items-center">
                            <article class="w-100 overflow-hidden">
                                <h3 class="m-0 cta-box-title">
                                    <i class="mdi mdi-cake-variant me-1"></i>
                                    {{ 'Widgets.Birthday.Title' | trans({'%days%': birthday.days_until_birthdays}, 'messages') }}
                                </h3>
                            </article>
                            <img class="ms-3" src="{{ asset('build/images/svg/birthday.svg')}}" width="100" alt="Birthday image">
                        </header>
                        <section>
                            {% if birthday.next_birthdays | length %}
                                {% for next_birthday in birthday.next_birthdays %}
                                    <section class="mt-1">
                                        {% set url = ea_url()
                                            .setController('App\\Controller\\Admin\\UsersCrudController')
                                            .setAction('detail')
                                            .set('entityId', next_birthday.id) %}
                                        <a href="{{ url }}" class="text-reset">
                                            <img class="me-2 rounded-circle" src="{{ next_birthday.email | gravatar({'size': 32}) }}"
                                                 alt="{{ next_birthday.username | capitalize }} gravatar"
                                                 height="32"
                                            >
                                            <span class="font-14 fw-bold">
                                            {{ next_birthday.firstname | capitalize }} {{ next_birthday.lastname | upper }}
                                        </span>
                                            <span class="ms-2 font-12">
                                            {{ next_birthday.birthdayDate | format_datetime('short', 'none', locale=app.request.locale) }}
                                                {% set age = date().diff(date(next_birthday.birthdayDate)).y %}
                                                {{ 'Widgets.Birthday.Age' | trans({'%age%': age}, 'messages') }}
                                        </span>
                                        </a>
                                    </section>
                                {% endfor %}
                            {% else %}
                                <span class="mt-1 font-14 fw-bold">
                                {{ 'Widgets.Birthday.Empty' | trans({'%days%': birthday.days_until_birthdays}, 'messages') }}
                            </span>
                            {% endif %}
                        </section>
                    </article>
                </article>
            </article>
            {{ _self.render_count_widget('Controls', 'col-2', 'uil-file-check-alt', 'warning', count_controls) }}
            {{ _self.render_count_widget('Safes', 'col-2', 'uil-shield-check', 'danger', count_safes) }}
            {{ _self.render_count_widget('SafesMovements', 'col-2', 'uil-shield-exclamation', 'warning', count_safesMovements) }}
            {{ _self.render_count_widget('SafesControls', 'col-2', 'uil-file-shield-alt', 'warning', count_safesControls) }}
            {{ _self.render_count_widget('Buybacks', 'col-2', 'uil-exchange-alt', 'primary', count_buybacks) }}
            {{ _self.render_count_widget('DepositsSales', 'col-2', 'uil-moneybag-alt', 'primary', count_deposits_sales) }}
        </section>
        <section class="row mt-3">
            {{ _self.render_controls_widget(1, 1, today_controls_ids[1][1]) }}
            {{ _self.render_controls_widget(1, 2, today_controls_ids[1][2]) }}
            {% if is_granted('ROLE_JEWELER') %}
                {{ _self.render_controls_widget(2, 1, today_controls_ids[2][1]) }}
                {{ _self.render_controls_widget(2, 2, today_controls_ids[2][2]) }}
            {% endif %}
        </section>
    </section>
{% endblock %}

{% macro render_count_widget(controller, column, icon, color, value) %}
    <article class="{{  column }}">
        {% set url = ea_url()
            .setController('App\\Controller\\Admin\\' ~ controller ~ 'CrudController')
            .setAction('index') %}
        <a href="{{ url }}" class="card ribbon-box">
            <section class="card-body">
                <section class="ribbon ribbon-{{ color }} float-start">
                    {{ ('Menu.' ~ controller) | trans({}, 'messages') }}
                </section>
                <h5 class="text-primary float-end mt-0">
                    <i class="{{ icon }} bg-{{ color }}-lighten text-{{ color }} widget-icon"></i>
                </h5>
                <article class="ribbon-content pt-2 fw-bold text-black-50">
                    {{ value }} {{ ('Menu.' ~ controller) | trans({}, 'messages') | lower }}
                </article>
            </section>
        </a>
    </article>
{% endmacro %}

{% macro render_controls_widget(counter, period, today_control_id) %}
    <article class="col-6">
        {% set url = today_control_id['id'] == 0
            ? ea_url()
                .setController('App\\Controller\\Admin\\ControlsCrudController')
                .setAction('new')
                .set('counter', counter)
                .set('period', period)
            : ea_url()
                .setController('App\\Controller\\Admin\\ControlsCrudController')
                .setAction('edit')
                .set('entityId', today_control_id['id']) %}
        {% set action_label = today_control_id['id'] == 0 ? 'Create' : 'Edit' %}
        {% set message = 'Controls.' ~ action_label ~ ' ' ~ today_control_id['label'] ~ ' control' %}
        <a href="{{ url }}" class="card cta-box {{ period == 1 ? 'bg-warning' : 'bg-primary' }} text-white">
            <article class="card-body">
                <h3 class="m-0 fw-normal cta-box-title">
                    {{ message | trans({}, 'messages') }}
                    <i class="{{ period == 1 ? 'uil-sun' : 'uil-moon' }} float-end"></i>
                </h3>
            </article>
        </a>
    </article>
{% endmacro %}

