{# This is a template used internally by EasyAdmin. Don't use it
   directly in your applications. Instead, use the 'login.html.twig' template #}
{% trans_default_domain translation_domain ?? 'messages' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block head_favicon %}
            <link rel="shortcut icon" href="{{ asset('build/images/favicon.png') }}">
        {% endblock %}
        <title>
            {{ block('page_title') | striptags | raw }}
        </title>
        {% block head_stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('component/notification') }}
            {{ encore_entry_link_tags('css/icons') }}
        {% endblock %}
        {% block head_javascript %}
            {{ encore_entry_script_tags('hyper-config') }}
        {% endblock head_javascript %}
    </head>
    <body id="{% block body_id %}{% endblock %}" class="ea {% block body_class %}{% endblock %}">
        {% block wrapper_wrapper %}{% endblock wrapper_wrapper %}
        {% block body_javascript %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('component/notification') }}
        {% endblock body_javascript %}
        {% block flash_messages %}
            {% include '@EasyAdmin/flash_messages.html.twig' %}
        {% endblock flash_messages %}
    </body>
</html>
