{{ form_start(form) }}
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.user) }}
                {{ form_row(form.store) }}
                {{ form_row(form.created_at) }}
                {{ form_row(form.expiredAt) }}
                {{ form_row(form.status) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.customer) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.products) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.depositAmount) }}
                {{ form_row(form.advancesPaymentMethods) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.comments) }}
            </section>
        </article>
    </article>
{{ form_end(form) }}
