{{ form_start(form) }}
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.user) }}
                {{ form_row(form.store) }}
                {{ form_row(form.status) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.createdAt) }}
                {{ form_row(form.duration) }}
                {{ form_row(form.dueAt) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.customer) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.products) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.startingPrice) }}
                {{ form_row(form.increasedPercent) }}
                {{ form_row(form.increasedPrice) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.comments) }}
            </section>
        </article>
    </article>
{{ form_end(form) }}
