{{ form_start(form) }}
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.user) }}
                {{ form_row(form.store) }}
                {{ form_row(form.createdAt) }}
                {{ form_row(form.updatedAt) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.counter) }}
                {{ form_row(form.period) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.turnover) }}
                {{ form_row(form.cashFund) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.oneCent) }}
                {{ form_row(form.twoCents) }}
                {{ form_row(form.fiveCents) }}
                {{ form_row(form.tenCents) }}
                {{ form_row(form.twentyCents) }}
                {{ form_row(form.fiftyCents) }}
                {{ form_row(form.oneEuro) }}
                {{ form_row(form.twoEuros) }}
                {{ form_row(form.fiveEuros) }}
                {{ form_row(form.tenEuros) }}
                {{ form_row(form.twentyEuros) }}
                {{ form_row(form.fiftyEuros) }}
                {{ form_row(form.oneHundredEuros) }}
                {{ form_row(form.twoHundredEuros) }}
                {{ form_row(form.fiveHundredEuros) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section id="debit-alert" class="alert alert-primary text-center border-0" role="alert" style="display: none">
                    <span id="debit-text-positive" style="display: none">
                        {{ 'Controls.Positive debit' | trans | raw }}
                    </span>
                <span id="debit-text-negative" style="display: none">
                        {{ 'Controls.Negative debit' | trans | raw }}
                    </span>
            </section>
            <section class="row">
                {{ form_row(form.result) }}
                {{ form_row(form.error) }}
            </section>
        </article>
    </article>
{{ form_end(form) }}
