{{ form_start(form) }}
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.month) }}
                {{ form_row(form.store) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.counters) }}
                {{ form_row(form.period) }}
                {{ form_row(form.movementsTypes) }}
            </section>
        </article>
    </article>
{{ form_end(form) }}
