{{ form_start(form) }}
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.user) }}
                {{ form_row(form.store) }}
                {{ form_row(form.createdAt) }}
                {{ form_row(form.counters) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.oneCent) }}
                {{ form_row(form.twoCents) }}
                {{ form_row(form.fiveCents) }}
                {{ form_row(form.tenCents) }}
                {{ form_row(form.twentyCents) }}
                {{ form_row(form.fiftyCents) }}
                {{ form_row(form.oneEuro) }}
                {{ form_row(form.twoEuros) }}
                {{ form_row(form.fiveEuros) }}
                {{ form_row(form.tenEuros) }}
                {{ form_row(form.twentyEuros) }}
                {{ form_row(form.fiftyEuros) }}
                {{ form_row(form.oneHundredEuros) }}
                {{ form_row(form.twoHundredEuros) }}
                {{ form_row(form.fiveHundredEuros) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.result) }}
                {{ form_row(form.total) }}
            </section>
        </article>
    </article>
{{ form_end(form) }}
