{{ form_start(form) }}
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="hidden"></div>
                {{ form_row(form.username) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.active) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.permission) }}
                {{ form_row(form.stores) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                {{ form_row(form.civility) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.birthdayDate) }}
                {{ form_row(form.hiringDate) }}
            </section>
        </article>
    </article>
    <article class="card">
        <article class="card-body">
            <section class="row">
                <div class="col-6" hidden></div>
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
            </section>
        </article>
    </article>
{{ form_end(form) }}
