<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        {% if links is defined %}
            {{ links }}
        {% endif %}
    </head>
    <body id="pdf-body">
        <header id="pdf-header">
            <section class="text-center">
                <img src="{{ absolute_url('/build/images/logo-dark.png') }}" alt="logo"><br>
                <h4 class="fw-bolder mt-2">
                    {{ invoice.store.city | upper }}
                </h4>
            </section>
        </header>
        <footer id="pdf-footer">
            <table class="w-100">
                <tbody>
                    <tr>
                        <td>
                            {% if invoice.store.phone is not empty %}
                                Téléphone : {{ invoice.store.phone | phone_number_format('NATIONAL') }}
                            {% endif %}
                        </td>
                        <td class="text-end">
                            {% if invoice.store.email is not empty %}
                                Email : {{ invoice.store.email }}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <article class="text-center">
                <small>
                    {% if invoice.store.commercialRegisterNumber is not empty %}
                        RCS {{ invoice.store.commercialRegisterNumber }}
                    {% endif %}
                </small>
            </article>
        </footer>
        <main>
            <h3 class="text-center mb-5">
                FACTURE N°{{ invoice.id }}
            </h3>
            <table class="table table-between mb-3">
                <tbody>
                    <tr>
                        <td>
                            « Le client » :<br>
                            {%  if invoice.customer.civility is defined and invoice.customer.firstname is defined and invoice.customer.lastname is defined %}
                                {{ invoice.customer.civility ~ ' ' ~ invoice.customer.firstname ~ ' ' ~ invoice.customer.lastname }}<br>
                            {% endif %}
                            {%  if invoice.customer.address is defined and invoice.customer.address is not empty %}
                                {{ invoice.customer.address }}<br>
                            {% endif %}
                            {%  if invoice.customer.additionalAddress is defined and invoice.customer.additionalAddress is not empty %}
                                {{ invoice.customer.additionalAddress }}<br>
                            {% endif %}
                            {%  if invoice.customer.zipcode is defined or invoice.customer.city is defined %}
                                {{ invoice.customer.zipcode }} {{ invoice.customer.city }}<br>
                            {% endif %}
                        </td>
                        <td>
                            « Le magasin » :<br>
                            AXE CASH {{ invoice.store.city | upper }}<br>
                            {% if invoice.store.address is not empty %}
                                {{ invoice.store.address }}<br>
                            {% endif %}
                            {% if invoice.store.additionalAddress is not empty %}
                                {{ invoice.store.additionalAddress }}<br>
                            {% endif %}
                            {{ invoice.store.zipcode }} {{ invoice.store.city | upper }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-end mb-5">
                Fait à
                {{ invoice.store.city | capitalize }}
                le
                {{ invoice.createdAt | date("d/m/Y", false) }}
                ,
            </p>
            <p>
                {%  if invoice.customer.civility is defined and invoice.customer.lastname is defined %}
                    {{ invoice.customer.civility ~ ' ' ~ invoice.customer.lastname }}
                {% endif %}
                ,
            </p>
            <p class="mb-4">
                Vous trouverez ci-dessous le détail de votre achat du
                <span class="fw-bold">
                    {{ invoice.selledAt | date("d/m/Y", false) }}
                </span>
                dans notre magasin AXE CASH de
                <span class="fw-bold">
                    {{ invoice.store.city | capitalize }}
                </span>
                .
            </p>
            <table class="table table-bordered mb-4">
                <thead>
                    <tr>
                        <th>
                            Code barre
                        </th>
                        <th>
                            Produit
                        </th>
                        <th>
                            Numéro de série
                        </th>
                        <th>
                            Prix H.T.
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in invoice.products %}
                        <tr>
                            <td>
                                {{ product.barCode }}
                            </td>
                            <td>
                                {{ product.label }}
                            </td>
                            <td>
                                {{ product.serialNumber }}
                            </td>
                            <td>
                                {{ (product.price / 100) | round(2, 'common') | replace({'.' : ','}) }} euros
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            Total H.T.
                        </th>
                        <th>
                            {{ (invoice.totalWithoutTaxes / 100) | round(2, 'common') | replace({'.' : ','}) }} euros
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            Taux de T.V.A.
                        </th>
                        <th>
                            {{ invoice.taxesRate }}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            Montant de la T.V.A.
                        </th>
                        <th>
                            {{ (invoice.taxesAmount / 100) | round(2, 'common') | replace({'.' : ','}) }} euros
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            Total T.T.C.
                        </th>
                        <th>
                            {{ (invoice.totalWithTaxes / 100) | round(2, 'common') | replace({'.' : ','}) }} euros
                        </th>
                    </tr>
                </tfoot>
            </table>
            <p class="mb-5">
                En espérant vous revoir rapidement dans nos magasins, veuillez agréer
                {%  if invoice.customer.civility is defined and invoice.customer.lastname is defined %}
                    {{ invoice.customer.civility ~ ' ' ~ invoice.customer.lastname }}
                {% endif %}
                nos sincères remerciements.
            </p>
            <p class="text-end">
                AXE CASH {{ invoice.store.city | upper }}<br>
                ({{ invoice.user.fullname }})
            </p>
        </main>
    </body>
</html>
