<article class="card">
    <article class="card-body">
        {% set field_layout = ea_create_field_layout(entity.fields) %}
        {% block detail_fields %}
            <h4 class="header-title">
                {{ 'Safes.Safe sheet' | trans({
                    '%store%': field_layout.fields[1].value,
                    '%month%': field_layout.fields[0].value | format_datetime(pattern='MMMM yyyy')
                }) }}
            </h4>
            <table id="safes-datatable" class="table table-striped dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>
                            {{ 'Forms.Labels.Date' | trans }}
                        </th>
                        {% for counter in field_layout.fields[2].value %}
                            <th class="text-center">
                                {{ counter.label | capitalize }}
                            </th>
                            <th class="text-center">
                                {{ 'Forms.Labels.Safe error' | trans({'%counter%': counter.label | lower}) }}
                            </th>
                        {% endfor %}
                        {% for counter in field_layout.fields[4].value %}
                            <th class="text-center">
                                {{ counter.label | capitalize }}
                            </th>
                        {% endfor %}
                        <th class="text-center">
                            {{ 'Forms.Labels.Balance' | trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for day, control in controls %}
                        <tr>
                            <td class="fw-bold">
                                {{ day }}
                            </td>
                            {% for counter in field_layout.fields[2].value %}
                                {{ _self.render_safe_item(control[counter.id] ?? null,
                                    control[counter.id][0] is defined
                                    ? (control[counter.id][0].controlsCounter.reverse == false
                                    ? control[counter.id][0].turnover / 100
                                    : (control[counter.id][0].turnover / 100) * -1)
                                : null, 'turnover') }}
                                {{ _self.render_safe_item(control[counter.id] ?? null,
                                    control[counter.id][0] is defined
                                    ? control[counter.id][0].error / 100
                                    : null, 'error') }}
                            {% endfor %}
                            {% for movementsType in field_layout.fields[4].value %}
                                {% set result = 0 %}
                                {% if safesMovements[day][movementsType.label] is defined %}
                                    {% for movement in safesMovements[day][movementsType.label] %}
                                        {% set result = result + (movement.amount / 100) %}
                                    {% endfor %}
                                {% endif %}
                                {{ _self.render_safe_item(safesMovements[day][movementsType.label] ?? null, result, 'amount') }}
                            {% endfor %}
                            {{ _self.render_safe_item(safesControls[day] ?? null, safesControls[day][0] is defined
                                ? safesControls[day][0].total / 100
                                : null, 'total') }}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            {{ 'Forms.Labels.Total' | trans | upper }}
                        </th>
                        {% for counter in field_layout.fields[2].value %}
                            <th class="text-end"></th>
                            <th class="text-end"></th>
                        {% endfor %}
                        {% for counter in field_layout.fields[4].value %}
                            <th class="text-end"></th>
                        {% endfor %}
                        <th class="text-end"></th>
                    </tr>
                </tfoot>
            </table>
        {% endblock detail_fields %}
    </article>
</article>

{% macro render_safe_item(entity, value, valueName) %}
    {% if entity %}
        {% set entityName = constant('class', entity[0]) | split('\\') | last %}
    {% endif %}
    <td class="text-end
        {% if value > 0 %}
            text-success
        {% elseif value < 0 %}
            text-danger
        {% endif %}"
    >
        {% if entity | length == 1 %}
            {% set url = ea_url()
                .setController('App\\Controller\\Admin\\' ~ entityName ~ 'CrudController')
                .setAction('detail')
                .set('entityId', entity[0].id) %}
            <a class="text-reset" href="{{ url }}">
                {{ value | format_currency('EUR', {fraction_digit: 2}) }}
            </a>
        {% elseif entity | length > 1 %}
            <section class="dropdown">
                <a href="#" class="text-reset dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    {{ value | format_currency('EUR', {fraction_digit: 2}) }}
                </a>
                <section class="dropdown-menu dropdown-menu-animated mt-2">
                    {%  for control in entity %}
                        {% set url = ea_url()
                            .setController('App\\Controller\\Admin\\' ~ entityName ~ 'CrudController')
                            .setAction('detail')
                            .set('entityId', control.id) %}
                        <a href="{{ url }}" class="dropdown-item" target="_self" rel="" referrerpolicy="origin-when-cross-origin">
                            <span>
                                {{ control.createdAt | date('H:i') }} -
                                {% set value = attribute(control, valueName) / 100 %}
                                <span class="
                                    {% if value > 0 %}
                                        text-success
                                    {% elseif value < 0 %}
                                        text-danger
                                    {% endif %}"
                                >
                                    {{ (value) | format_currency('EUR', {fraction_digit: 2}) }}
                                </span>
                            </span>
                        </a>
                    {% endfor %}
                </section>
            </section>
        {% else %}
            {{ 0 | format_currency('EUR', {fraction_digit: 2}) }}
        {% endif %}
    </td>
{% endmacro %}
