<nav class="navbar-custom">
    <section class="topbar container-fluid">
        <section class="d-flex align-items-center gap-lg-2 gap-1">
            <section class="logo-topbar">
                <a href="{{ path('admin') }}" class="logo-light">
                <span class="logo-lg">
                    <img src="{{ asset('build/images/logo.png') }}" alt="logo" height="22">
                </span>
                    <span class="logo-sm">
                    <img src="{{ asset('build/images/logo-sm.png') }}" alt="small logo" height="22">
                </span>
                </a>
                <a href="{{ path('admin') }}" class="logo-dark">
                <span class="logo-lg">
                    <img src="{{ asset('build/images/logo-dark.png') }}" alt="dark logo" height="22">
                </span>
                    <span class="logo-sm">
                    <img src="{{ asset('build/images/logo-dark-sm.png') }}" alt="small logo" height="22">
                </span>
                </a>
            </section>
            <button class="button-toggle-menu">
                <i class="mdi mdi-menu"></i>
            </button>
            <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <section class="lines">
                    <span></span>
                    <span></span>
                    <span></span>
                </section>
            </button>
            {# TODO: Make search #}
{#            <article class="app-search dropdown d-none d-lg-block">#}
{#                <form>#}
{#                    <section class="input-group">#}
{#                        <input type="search" class="form-control dropdown-toggle" placeholder="{{ 'Menu.Search' | trans }}..." id="top-search">#}
{#                        <span class="mdi mdi-magnify search-icon"></span>#}
{#                        <button class="input-group-text btn btn-primary" type="submit">#}
{#                            {{ 'Menu.Search' | trans }}#}
{#                        </button>#}
{#                    </section>#}
{#                </form>#}
{#                <section class="dropdown-menu dropdown-menu-animated dropdown-lg" id="search-dropdown">#}
{#                    <div class="dropdown-header noti-title">#}
{#                        <h5 class="text-overflow mb-2">Found <span class="text-danger">17</span> results</h5>#}
{#                    </div>#}
{#                    <a href="javascript:void(0);" class="dropdown-item notify-item">#}
{#                        <i class="uil-notes font-16 me-1"></i>#}
{#                        <span>Analytics Report</span>#}
{#                    </a>#}
{#                    <a href="javascript:void(0);" class="dropdown-item notify-item">#}
{#                        <i class="uil-life-ring font-16 me-1"></i>#}
{#                        <span>How can I help you?</span>#}
{#                    </a>#}
{#                    <a href="javascript:void(0);" class="dropdown-item notify-item">#}
{#                        <i class="uil-cog font-16 me-1"></i>#}
{#                        <span>User profile settings</span>#}
{#                    </a>#}
{#                    <div class="dropdown-header noti-title">#}
{#                        <h6 class="text-overflow mb-2 text-uppercase">Users</h6>#}
{#                    </div>#}
{#                    <div class="notification-list">#}
{#                        <a href="javascript:void(0);" class="dropdown-item notify-item">#}
{#                            <div class="d-flex">#}
{#                                <img class="d-flex me-2 rounded-circle" src="{{ asset('assets/images/users/avatar-2.jpg') }}" alt="Generic placeholder image" height="32">#}
{#                                <div class="w-100">#}
{#                                    <h5 class="m-0 font-14">Erwin Brown</h5>#}
{#                                    <span class="font-12 mb-0">UI Designer</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a href="javascript:void(0);" class="dropdown-item notify-item">#}
{#                            <div class="d-flex">#}
{#                                <img class="d-flex me-2 rounded-circle" src="{{ asset('assets/images/users/avatar-5.jpg') }}" alt="Generic placeholder image" height="32">#}
{#                                <div class="w-100">#}
{#                                    <h5 class="m-0 font-14">Jacob Deo</h5>#}
{#                                    <span class="font-12 mb-0">Developer</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                </section>#}
{#            </article>#}
        </section>
        <ul class="topbar-menu d-flex align-items-center gap-3">
{#            <li class="dropdown d-lg-none">#}
{#                <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">#}
{#                    <i class="ri-search-line font-22"></i>#}
{#                </a>#}
{#                <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">#}
{#                    <form class="p-3">#}
{#                        <input type="search" class="form-control" placeholder="{{ 'Menu.Search' | trans }} ..." aria-label="Recipient's username">#}
{#                    </form>#}
{#                </div>#}
{#            </li>#}
            <li class="dropdown">
                <a class="nav-link dropdown-toggle arrow-none" href="#" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false"
                >
                    {% set locale = app.request.locale == 'en' ? 'us' : app.request.locale %}
                    <img class="me-0 me-sm-1" alt="Flag {{ app.request.locale }}" height="12"
                         src="{{ asset('bundles/easyadmin/images/flags/' ~ locale | upper ~ '.svg') }}"
                    >
                    <span class="align-middle d-none d-lg-inline-block">
                        {{ app.request.locale | locale_name | capitalize }}
                    </span>
                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block align-middle"></i>
                </a>
                <section class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                    {% for supported_locale in supported_locales %}
                        {% if app.request.locale != supported_locale %}
                            <a class="dropdown-item notify-item"
                               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge(app.request.query.all | merge({'_locale': supported_locale }))) }}"
                            >
                                {% set locale = supported_locale == 'en' ? 'us' : supported_locale %}
                                <img class="me-1" alt="Flag {{ app.request.locale }}" height="12"
                                     src="{{ asset('bundles/easyadmin/images/flags/' ~ locale | upper ~ '.svg') }}"
                                >
                                <span class="align-middle">
                                    {{ supported_locale | locale_name | capitalize }}
                                </span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </section>
            </li>
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none" href="#" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false"
                >
                    <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="primary-tooltip"
                          data-bs-title="{{ 'Top menu.Notifications' | trans({}, 'messages') }}"
                    >
                        <i class="ri-notification-3-line font-22"></i>
                        <span class="noti-icon-badge"></span>
                    </span>
                </a>
                <section class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg py-0">
                    <article class="p-2 border-top-0 border-start-0 border-end-0 border-dashed border">
                        <section class="row align-items-center">
                            <article class="col">
                                <h6 class="m-0 font-16 fw-semibold">
                                    Notification
                                </h6>
                            </article>
                            <article class="col-auto">
                                <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                    <small>
                                        Clear All
                                    </small>
                                </a>
                            </article>
                        </section>
                    </article>
{#                    <section class="px-3" style="max-height: 300px;" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0 -24px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0; bottom: 0;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0 24px;">#}
{#                        <h5 class="text-muted font-13 fw-normal mt-2">#}
{#                            Today#}
{#                        </h5>#}
{#                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card unread-noti shadow-none mb-2">#}
{#                            <section class="card-body">#}
{#                                <span class="float-end noti-close-btn text-muted">#}
{#                                    <i class="mdi mdi-close"></i>#}
{#                                </span>#}
{#                                <section class="d-flex align-items-center">#}
{#                                    <article class="flex-shrink-0">#}
{#                                        <article class="notify-icon bg-primary">#}
{#                                            <i class="mdi mdi-comment-account-outline"></i>#}
{#                                        </article>#}
{#                                    </article>#}
{#                                    <section class="flex-grow-1 text-truncate ms-2">#}
{#                                        <h5 class="noti-item-title fw-semibold font-14">#}
{#                                            Datacorp#}
{#                                            <small class="fw-normal text-muted ms-1">#}
{#                                                1 min ago#}
{#                                            </small>#}
{#                                        </h5>#}
{#                                        <small class="noti-item-subtitle text-muted">#}
{#                                            Caleb Flakelar commented on Admin#}
{#                                        </small>#}
{#                                    </section>#}
{#                                </section>#}
{#                            </section>#}
{#                        </a>#}
{#                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">#}
{#                            <div class="card-body">#}
{#                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>#}
{#                                <div class="d-flex align-items-center">#}
{#                                    <div class="flex-shrink-0">#}
{#                                        <div class="notify-icon bg-info">#}
{#                                            <i class="mdi mdi-account-plus"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="flex-grow-1 text-truncate ms-2">#}
{#                                        <h5 class="noti-item-title fw-semibold font-14">Admin <small class="fw-normal text-muted ms-1">1 hours ago</small></h5>#}
{#                                        <small class="noti-item-subtitle text-muted">New user registered</small>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <h5 class="text-muted font-13 fw-normal mt-0">Yesterday</h5>#}
{#                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">#}
{#                            <div class="card-body">#}
{#                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>#}
{#                                <div class="d-flex align-items-center">#}
{#                                    <div class="flex-shrink-0">#}
{#                                        <div class="notify-icon">#}
{#                                            <img src="{{ asset('assets/images/users/avatar-2.jpg') }}" class="img-fluid rounded-circle" alt="">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="flex-grow-1 text-truncate ms-2">#}
{#                                        <h5 class="noti-item-title fw-semibold font-14">Cristina Pride <small class="fw-normal text-muted ms-1">1 day ago</small></h5>#}
{#                                        <small class="noti-item-subtitle text-muted">Hi, How are you? What about our next meeting</small>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <h5 class="text-muted font-13 fw-normal mt-0">30 Dec 2021</h5>#}
{#                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">#}
{#                            <div class="card-body">#}
{#                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>#}
{#                                <div class="d-flex align-items-center">#}
{#                                    <div class="flex-shrink-0">#}
{#                                        <div class="notify-icon bg-primary">#}
{#                                            <i class="mdi mdi-comment-account-outline"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="flex-grow-1 text-truncate ms-2">#}
{#                                        <h5 class="noti-item-title fw-semibold font-14">Datacorp</h5>#}
{#                                        <small class="noti-item-subtitle text-muted">Caleb Flakelar commented on Admin</small>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">#}
{#                            <div class="card-body">#}
{#                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>#}
{#                                <div class="d-flex align-items-center">#}
{#                                    <div class="flex-shrink-0">#}
{#                                        <div class="notify-icon">#}
{#                                            <img src="{{ asset('assets/images/users/avatar-4.jpg') }}" class="img-fluid rounded-circle" alt="">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="flex-grow-1 text-truncate ms-2">#}
{#                                        <h5 class="noti-item-title fw-semibold font-14">Karen Robinson</h5>#}
{#                                        <small class="noti-item-subtitle text-muted">Wow ! this admin looks good and awesome design</small>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <div class="text-center">#}
{#                            <i class="mdi mdi-dots-circle mdi-spin text-muted h3 mt-0"></i>#}
{#                        </div>#}
{#                    </div></div></div></div><div class="simplebar-placeholder" style="width: 0; height: 0;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0; display: none;"></div></div></section>#}
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item border-top border-light py-2">
                        View All
                    </a>
                </section>
            </li>
            <li class="dropdown d-none d-sm-inline-block">
                <a class="nav-link dropdown-toggle arrow-none" href="#" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false"
                >
                    <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="primary-tooltip"
                             data-bs-title="{{ 'Top menu.Useful links' | trans({}, 'messages') }}"
                    >
                        <i class="ri-apps-2-line font-22"></i>
                    </span>
                </a>
                <article class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg p-0">
                    <section class="p-2">
                        <section class="row g-0">
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.leboncoin.fr" target="_blank">
                                    <img src="{{ asset('build/images/brands/leboncoin.png') }}" alt="Leboncoin">
                                    <span>
                                        Leboncoin
                                    </span>
                                </a>
                            </article>
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.vinted.fr" target="_blank">
                                    <img src="{{ asset('build/images/brands/vinted.png') }}" alt="Vinted">
                                    <span>
                                        Vinted
                                    </span>
                                </a>
                            </article>
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.backmarket.fr" target="_blank">
                                    <img src="{{ asset('build/images/brands/backmarket.png') }}" alt="BackMarket">
                                    <span>
                                        BackMarket
                                    </span>
                                </a>
                            </article>
                        </section>
                        <section class="row g-0">
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.amazon.fr" target="_blank">
                                    <img src="{{ asset('build/images/brands/amazon.png') }}" alt="Amazon">
                                    <span>
                                        Amazon
                                    </span>
                                </a>
                            </article>
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://fr.shopping.rakuten.com" target="_blank">
                                    <img src="{{ asset('build/images/brands/rakuten.png') }}" alt="Rakuten">
                                    <span>
                                        Rakuten
                                    </span>
                                </a>
                            </article>
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.cdiscount.com" target="_blank">
                                    <img src="{{ asset('build/images/brands/cdiscount.png') }}" alt="Cdiscount">
                                    <span>
                                        Cdiscount
                                    </span>
                                </a>
                            </article>
                        </section>
                        <section class="row g-0">
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.jensmobiles.fr" target="_blank">
                                    <img src="{{ asset('build/images/brands/jma.png') }}" alt="Jen's Mobile">
                                    <span>
                                        Jen's Mobile
                                    </span>
                                </a>
                            </article>
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.undercontrol.fr" target="_blank">
                                    <img src="{{ asset('build/images/brands/under-control.png') }}" alt="Under Control">
                                    <span>
                                        Under Control
                                    </span>
                                </a>
                            </article>
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.bijouxcn.com/EspaceProAccueil.aspx" target="_blank">
                                    <img src="{{ asset('build/images/brands/bijoux-cn.png') }}" alt="Bijoux CN">
                                    <span>
                                        Bijoux CN
                                    </span>
                                </a>
                            </article>
                        </section>
                        <section class="row g-0">
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://www.dropbox.com" target="_blank">
                                    <img src="{{ asset('build/images/brands/dropbox.png') }}" alt="Dropbox">
                                    <span>
                                        Dropbox
                                    </span>
                                </a>
                            </article>
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://login.teamviewer.com/LogOn" target="_blank">
                                    <img src="{{ asset('build/images/brands/teamviewer.png') }}" alt="TeamViewer">
                                    <span>
                                        TeamViewer
                                    </span>
                                </a>
                            </article>
                            <article class="col">
                                <a class="dropdown-icon-item" href="https://github.com/Anthony06250/intranet" target="_blank">
                                    <img src="{{ asset('build/images/brands/github.png') }}" alt="Github">
                                    <span>
                                        GitHub
                                    </span>
                                </a>
                            </article>
                        </section>
                    </section>
                </article>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="d-none d-sm-inline-block">
                    <a class="nav-link" data-bs-toggle="offcanvas" href="#theme-settings-offcanvas">
                        <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="primary-tooltip"
                              data-bs-title="{{ 'Top menu.Theme settings' | trans({}, 'messages') }}"
                        >
                            <i class="ri-settings-3-line font-22"></i>
                        </span>
                    </a>
                </li>
            {% endif %}
            <li class="d-none d-sm-inline-block">
                <article class="nav-link" id="light-dark-mode">
                    <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="primary-tooltip"
                          data-bs-title="{{ 'Top menu.Theme mode' | trans({}, 'messages') }}"
                    >
                        <i class="ri-moon-line font-22"></i>
                    </span>
                </article>
            </li>
            <li class="d-none d-md-inline-block">
                <article class="nav-link" data-toggle="fullscreen">
                    <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="primary-tooltip"
                          data-bs-title="{{ 'Top menu.Fullscreen' | trans({}, 'messages') }}"
                    >
                        <i class="ri-fullscreen-line font-22"></i>
                    </span>
                </article>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-user arrow-none px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-user-avatar">
                        {% if null == ea.userMenu.avatarUrl %}
                            <img src="{{ asset('build/images/users/avatar.jpg') }}" alt="user-image" height="32px" class="rounded-circle">
                        {% else %}
                            <img src="{{ ea.userMenu.avatarUrl }}" alt="user-avatar" height="32px" class="rounded-circle">
                        {% endif %}
                    </span>
                    <span class="d-lg-flex flex-column gap-1 d-none">
                        <h5 class="my-0 text-end">
                            {{ ea.user ? ea.userMenu.name : 'user.anonymous' | trans({}, 'EasyAdminBundle') }}
                        </h5>
                        <h6 class="my-0 fw-normal text-end">
                            {{ ea.user ? ea.user.permission }}
                        </h6>
                    </span>
                </a>
                <section class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                    {% block user_menu %}
                        {% if ea.userMenu.items|length > 0 %}
                            {% for item in ea.userMenu.items %}
                                {% if item.isMenuSection and item.label is empty and not loop.first %}
                                    <div class="dropdown-divider my-1"></div>
                                {% elseif item.isMenuSection and item.label %}
                                    <header class="dropdown-header noti-title">
                                        <h6 class="text-overflow m-0">
                                            {{ item.label | trans }}
                                        </h6>
                                    </header>
                                {% elseif not item.isMenuSection %}
                                    <a href="{{ item.linkUrl }}" class="dropdown-item {{ item.cssClass }}"
                                       target="{{ item.linkTarget }}" rel="{{ item.linkRel }}"
                                       referrerpolicy="origin-when-cross-origin">
                                        {% if item.icon is not empty %}
                                            <i class="{{ item.icon }} me-1"></i>
                                        {% endif %}
                                        <span>
                                            {{ item.label | trans }}
                                        </span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endblock user_menu %}
                </section>
            </li>
        </ul>
    </section>
</nav>
